<div class="d-flex flex-column justify-content-center align-items-center bg-secondary page-bg-cont ">
    <div>
        <h1 class="text-danger card px-5 py-3 border-danger rounded-3">!Page-not-found</h1>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <button (click)="navigateToHome()" class="btn btn-primary px-4 bg-white text-primary fw-medium fs-4 rounded-circle"> <i class="fa-solid fa-arrow-left me-1"></i> Home</button>
        </div>
    </div>  
</div>
